.under-construction-grid{
    grid-row-gap: 0%;
    grid-column-gap: 0%;
    display: flex;
    border: #5b6876;
    padding: 120px 72px;
    text-align: center;
    align-items: center;
    align-content: center;
}
.text-wrapper{
    text-align: center;
    margin: auto;
    position: relative;
    padding-left: 116px;
}
.img-wrapper{
    margin: auto;
    position: relative;
}
.coming-soon{
    color: gold;
    font-size: 72px;
    font-weight: bold;
}
.under-construct{
    color: white;
    font-size: 45px;
    font-weight: bold;
}
.description{
    color: #8491a0;
    font-size: 16px;
    padding: 0px 150px;
}
.link{
    color: white;
    font-size: 20px;
    border-style: solid;
    border-radius: 25px;
    border-color: red;
    background-color: red;
    width: 300px;
    margin: auto;
    margin-top: 25px;
}
.a-link{
    text-decoration: none;
    color: white;
    display: inline-block;
    width: inherit;
    height: inherit;
}
a.a-link:hover{
    color: inherit;
}
.img-con{
    height: 500px;
}

@media all and (max-width: 767px) {
    .under-construction-grid{
        grid-row-gap: 0%;
        grid-column-gap: 0%;
        grid-template-rows: 1fr;
        grid-template-columns: 1fr;
        display: grid;
        border: #5b6876;
        padding: 50px 0px;
        text-align: center;
        align-items: center;
        align-content: center;
    }
    .text-wrapper{
        text-align: center;
        margin: auto;
        position: relative;
        padding-left: 0px;
    }
    .img-wrapper{
        margin: auto;
        position: relative;
        display: none;
    }
    .coming-soon{
        color: gold;
        font-size: 55px;
        font-weight: bold;
    }
    .under-construct{
        color: white;
        font-size: 26px;
        font-weight: bold;
    }
    .description{
        color: #8491a0;
        font-size: 16px;
        padding: 0px 0px;
    }
    .link{
        color: white;
        font-size: 20px;
        border-style: solid;
        border-radius: 25px;
        border-color: red;
        background-color: red;
        width: 300px;
        margin: auto;
        margin-top: 25px;
    }
    .a-link{
        text-decoration: none;
        color: white;
        display: inline-block;
        width: inherit;
        height: inherit;
    }
    a.a-link:hover{
        color: inherit;
    }
    .img-con{
        height: 200px;
    }
}
