.country{
    color: gray;
    text-decoration: none;
}

.fade-in-left{
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

.fade-in-right{
    animation-name: fadeInLeft;
    animation-duration: 2s;
}

.profile{
    padding-left: 0px;
    padding-right: 0px;
}

.profile-bg{
    position: absolute;
    left: auto;
    right: 0%;
    top: 0%;
    bottom: auto;
    z-index: -1;
    background-color: rgb(24, 24, 35);
    width: 60vw;
    height: 53vw;
    max-height: 950px;
}

.list-style{
    list-style-type: circle;
    color: white;
}

.sahabat-offset{
    color: red;
}

.heading-moreme{
    font-weight: bold;
}

.more-about-me-button{
    color: black;
    border-bottom: 1px solid #5b6876;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 10px;
    margin-left: 10px;
    line-height: 3rem;
}

.heading-skillset{
    font-weight: bold;
    color: white;
    font-size: 32px;
}

.p-skillset{
    color: #8491a0;
    line-height: 150%;
    margin-bottom: -9px;
}

.wrapper{
    padding-left: 20px;
    padding-right: 20px;
}

.heading-language{
    color: white;
    font-size: 26px;
    font-weight: bold;
}

.skill-logo{
    width: 30px;
    height: auto;
}

.link-button{
    color: white;
    border-bottom: 1px solid white;
    text-decoration: none;
    font-size: 16px;
    padding-bottom: 10px;
    line-height: 3rem;
    transform: translate3d(0px,-10px,0px);
}

.framework-logo{
    height: 140px;
}
@media all and (max-width: 767px) {
    .about{
        background-color: rgb(24, 24, 35);
        padding-top: 20px;
        padding-left: 30px;
        padding-bottom: 20px;
    }

    .profile.col{
        flex: auto;
    }

    .profile-bg{
        display: none;
    }

    .number{
        font-size: 117px;
        color: #8491a0;
        line-height: 100%;
    }

    .experience-block{
        padding-top: 8px;
    }

    .heading-company-name{
        font-weight: bold;
        font-size: 24px;
        color: white;
        line-height: 100%;
        margin-bottom: 0;
    }

    .heading-companies{
        font-weight: bold;
        color: white;
        font-size: 32px;
    }

    .heading-work{
        font-size: small;
        font-weight: 800;
        color: #8491a0;
    }

    .experience-section{
        padding-top: 20px;
    }

    .worked-since{
        color: #8491a0;
    }

    .work-desc{
        color: white;
        font-size: 16px;
    }

    .more-me{
        background-color: #fff3e4;
        padding-top: 3rem;
    }

    .picture-moreme{
        flex: auto;
        padding-right: 0px;
        padding-left: 0px;
    }

    .inside-me{
        color: #5b6876;
        font-size: 17px;
        font-weight: bold;
        line-height: 200%;
    }

    .skill-wrapper{
        margin-top: 10px;
    }

    .heading-framework{
        font-weight: bold;
        color: white;
        font-size: 20px;
        text-align: center;
    }
    .framework-grid{
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 0px;
        display: grid;
        grid-auto-columns: 1fr;

    }
    .framework-box{
        width: auto;
        border-style: solid;
        border-width: 1px;
        border-color: #8491a0;
        justify-content: center;
    }
}

@keyframes fadeInLeft {
    0% {
       opacity: 0;
       transform: translate3d(-50%,0px,0px);
    }
    100% {
       opacity: 1;
       transform: translate3d(0%,0px,0px);
    }
 }

 @keyframes fadeInRight {
    0% {
       opacity: 0;
       transform: translate3d(100%,0px,0px);
    }
    100% {
       opacity: 1;
       transform: translate3d(0%,0px,0px);
    }
 }
